# Network RPC & Explorer
ARC_TESTNET_RPC="https://rpc.testnet.arc.network"
ARC_TESTNET_CHAIN_ID="5042002"
ARC_TESTNET_EXPLORER="https://testnet.arcscan.app"
ARC_FAUCET_URL="https://faucet.circle.com"

# Deployer & Signing Keys
DEPLOYER_PRIVATE_KEY=""
VERIFYING_SIGNER_ADDRESS=""
PAYMASTER_OWNER_ADDRESS=""

# ERC-4337 v0.7 EntryPoint
ENTRY_POINT_ADDRESS="0x0000000071727De22E5E9d8BAf0edAc6f37da032"

# Convenience Fee Markup in BPS (500 = 5.00%)
FEE_MARKUP_BPS="500"

# Deployed Contracts
PAYMASTER_CONTRACT_ADDRESS=""
PAYMASTER_DEPLOYMENT_TX=""
